<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baidu.fbu.mtp.dao.SysRouterDao">

    <resultMap id="BaseResultMap" type="com.baidu.fbu.mtp.model.SystemRouter">
        <result column="gateway"  property="gateway" />
        <result column="protocol" property="protocol"/>
        <result column="dst_version" property="dstVersion"/>
        <result column="mtp_version" property="mtpVersion"/>
        <result column="deleted_flag" property="deletedFlag"/>
        <result column="create_by" property="createBy"/>
        <result column="update_by" property="updateBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        gateway, protocol, dst_version, mtp_version, deleted_flag, create_by, update_by, create_time, update_time
    </sql>

    <select id="selectOneRoute" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT <include refid="Base_Column_List" /> FROM mtp_route
        WHERE dst_version = #{dstVersion} and deleted_flag = 0 and mtp_version = #{mtpVersion}
    </select> 

    <select id="selectAllRoute" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT <include refid="Base_Column_List" /> FROM mtp_route WHERE deleted_flag = 0
    </select>
</mapper>