<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">


    <context:property-placeholder location="classpath*:config.properties,
                                            classpath*:dao.properties,
                                            classpath*:ratelimit.properties"
                                  ignore-unresolvable="true"/>

    <bean id="configProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="locations">
            <list>
                <value>classpath*:config.properties</value>
                <value>classpath*:ratelimit.properties</value>
            </list>
        </property>
    </bean>
    
    <bean id="customEditorConfigurer" class="org.springframework.beans.factory.config.CustomEditorConfigurer">
        <property name="customEditors">
            <map>
                <entry key="java.util.List" value="com.baidu.fbu.mtp.common.ListPropertyEditor" />
                <entry key="java.util.Map" value="com.baidu.fbu.mtp.common.MapPropertyEditor" />
            </map>
        </property>
    </bean>

    <import resource="classpath:spring/spring-dao.xml"/>
    <import resource="classpath:spring/spring-redis.xml"/>
    <import resource="classpath:spring/spring-service.xml"/>

</beans>